[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/libmspprintf"]
	path = ext/libmspprintf
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspprintf
[submodule "ext/libwispbase"]
	path = ext/libwispbase
	url = /afs/ece.cmu.edu/project/abstract/repos/wisp5
[submodule "ext/libmspconsole"]
	path = ext/libmspconsole
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspconsole
[submodule "ext/libio"]
	path = ext/libio
	url = /afs/ece.cmu.edu/project/abstract/repos/libio
[submodule "ext/libchain"]
	path = ext/libchain
	url = /afs/ece.cmu.edu/project/abstract/repos/libchain
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
[submodule "ext/msp430-softuart"]
	path = ext/libmspsoftuart
	url = /afs/ece.cmu.edu/project/abstract/repos/msp430-softuart
[submodule "ext/libmspware"]
	path = ext/libmspware
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspware
[submodule "ext/libedb"]
	path = ext/libedb
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/libedb
